# Snakemake/Conda
.snakemake/
*.snakemake
*.log
*.err
*.out
*.html
*.zip
*.gz

# Python
__pycache__/
*.pyc
*.pyo
*.egg
*.egg-info/

# Proj directories
results/
data/
logs/

all_integrases_summary.tsv

# Env
envs/*.lock
EOF

/additionals
/results_2

#bakta-pipeline ignore

/bakta_pipeline/results_bakta
/bakta_pipeline/tests