paths:
  input_dir: ../finder_pipeline/results_deinococcales
  output_dir: results_bakta_deinococcales
  log_dir: results_bakta_deinococcales
  genomes_dir: ../finder_pipeline/data/genomes
  # Optional if you export BAKTA_DB (see README); absolute path is fine
  db: ""

scripts:
  merge_att: scripts/merge_att_info_gbff.py

params:
  threads: 32
  prefix: annotation
  bakta_env: "bakta"
  merge_env: "IE_finder"
  clean_empty_err: true
