paths:
  input_dir: ../finder_pipeline/results                 
  output_dir: ../bakta_pipeline/results_bakta         
  db: /path/to/bakta/db
  log_dir: ../bakta_pipeline/results_bakta
  genomes_dir: ../finder_pipeline/data/genomes

scripts:
  merge_att: ../bakta_pipeline/scripts/merge_att_info_gbff.py

params:
  threads: 32
  prefix: annotation
  bakta_env: "bakta"
  merge_env: "MGE_finder"
  clean_empty_err: true

